#frame {
    width: 300px;
    height: 300px;
    position: relative;
    margin: 0 auto;
}

#clock {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid black;
}

.numbers {
    position: absolute;
    line-height: 0px;
}

#one {
    top: 10px;
    right: 65px;
}

#two {
    top: 65px;
    right: 10px;
}

#three {
    top: 150px;
    right: -10px;
}

#four {
    bottom: 65px;
    right: 10px;
}

#five {
    bottom: 10px;
    right: 65px;
}

#six {
    bottom: -10px;
    left: 145px;
}

#seven {
    bottom: 10px;
    left: 65px;
}

#eight {
    bottom: 65px;
    left: 10px;
}

#nine {
    top: 150px;
    left: -10px;
}

#ten {
    top: 65px;
    left: 10px;
}

#eleven {
    top: 10px;
    left: 65px;
}

#twelve {
    top: -10px;
    left: 145px;
}

#center {
    top: 150px;
    left: 150px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #000;
    display: inline-block;
    position: absolute;
}

.needles {
    display: inline-block;
    position: absolute;
    left: 150px;
    transform: rotate(0deg);
    transform-origin: center bottom 0px;
    transition-property: : transform;
    transition-timing-function: linear;
}

#minutes-hand {
    height: 140px;
    width: 3px;
    top: 10px;
    background: #D4986A;
    /* transition-duration: 3600s; */
}

#seconds-hand {
    height: 120px;
    width: 2px;
    top: 30px;
    background: #804515;
    transition-duration: 60s;
}

#milliseconds-hand {
    height: 100px;
    width: 1px;
    top: 50px;
    background: #552700;
    transition-duration: 1s;
}
